.inpt {
	border: 1px solid #e0e1e2;
	display: grid;
	grid-template-columns: 26% 48% 26%;
	background-color: #e0e1e2;
	border-radius: 2px;
	text-align: center;
	width: 100px;
	height: 33px;
	&__button {
		font-size: 18px;
	}
	&__text {
		margin: 0;
		align-self: center;
		background-color: #fff;
		border-radius: 2px;
		font-weight: 900;
		padding: 4.5px 0;
	}
}

button {
	//add to global
	border: none;
	background: transparent;
}
